.cabecalho{
    width: 411px;
    height: 80px;
    background: rgb(0, 0, 0);
}
.primeira_secao{
    width: 411px;
    height: 44px;
    background: rgb(255, 254, 254);
}
.retangulo_preto{
    width: 411px;
    height: 44px;
    background: rgb(0, 0, 0);
}
.retangulo_branco{
    width: 411px;
    height: 44px;
    background: rgb(255, 254, 254);
}
.retangulo_preto{
    width: 411px;
    height: 44px;
    background: rgb(0, 0, 0);
}
.retangulo_branco{
    width: 428px;
    height: 312px;
    background: rgb(255, 254, 254);
}
retangulo_preto{
    width: 411px;
    height: 44px;
    background: rgb(0, 0, 0);
}
.retangulo_branco{
    width: 411px;
    height: 44px;
    background: rgb(255, 254, 254);
}
retangulo_preto{
    width: 411px;
    height: 44px;
    background: rgb(0, 0, 0);
}
.retangulo_branco{
    width: 411px;
    height: 44px;
    background: rgb(255, 254, 254);
}
retangulo_preto{
    width: 411px;
    height: 80px;
    background: rgb(0, 0, 0);
}